<%- include('./head.ejs') %>
  <body>
    <header>
      <h1 class="title" >cemin</h1>
      <p class="sub-title">Centro Médico Interdisciplinario</p>
    </header>
    <main>
      <section class="name-lastName">
        <div><textarea placeholder="NOMBRE"></textarea></div>
        <div><textarea placeholder="APELLIDO"></textarea></div>
      </section>
      <section class="obra-social">
        <div><textarea placeholder="OBRA SOCIAL"></textarea></div>
      </section>
      <section class="dni-age">
        <div><textarea placeholder="D.N.I"></textarea></div>
        <div><textarea placeholder="EDAD"></textarea></div>       
      </section>
      <section class="direction">
        <div><textarea placeholder="DIRECCIÓN"></textarea></div>       
      </section>
      <section class="drug">
        <div><textarea placeholder="DROGA"></textarea></div>       
        <div><textarea placeholder="MILIGRAMOS"></textarea></div>       
        <div><textarea placeholder="COMP"></textarea></div>       
        <div><textarea placeholder="MARCA"></textarea></div>       
        <div><textarea placeholder="CANITDAD"></textarea></div>       
        <div><textarea placeholder="CAJA"></textarea></div>       
        
      </section>
      <section class="time-firma">
        <div><textarea placeholder="FECHA"></textarea></div>       
        <div><textarea placeholder="FIRMA"></textarea></div>       
      </section>
    </main>
  </body>
</html>
